absl-py==0.13.0
ase==3.20.1
bhtsne==0.1.9
cachetools==4.2.4
certifi==2020.11.8
chardet==3.0.4
cheroot==8.5.1
click==7.1.2
cycler==0.10.0
Cython==0.29.23
dataclasses==0.6
decorator==4.4.2
docopt==0.6.2
easydict==1.9
filelock==3.3.1
flatbuffers==2.0
future==0.18.2
fuzzy-c-means==1.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
grpcio==1.41.1
h5py==3.1.0
huggingface-hub==0.0.19
idna==2.10
importlib-metadata==4.8.2
isodate==0.6.0
jaraco.functools==3.1.0
jax==0.2.19
jaxlib==0.1.70
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.1
llvmlite==0.34.0
Markdown==3.3.5
MarkupSafe==1.1.1
matplotlib==3.3.3
more-itertools==8.6.0
networkx==2.5
nltk==3.5
numba==0.51.2
numpy==1.19.4
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.0
palettable==3.3.0
pandas==1.1.4
Pillow==8.0.1
pipreqs==0.4.11
protobuf==3.14.0
ptflops==0.6.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
python-louvain==0.14
pytz==2020.4
PyYAML==5.4.1
rdflib==5.0.0
regex==2020.11.13
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.46
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.0
threadpoolctl==2.1.0
tokenizers==0.10.3
torch==1.7.0+cu101
torch-cluster==1.5.8
torch-geometric==1.6.2
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torchaudio==0.7.0
torchvision==0.8.1+cu101
tqdm==4.54.0
transformers==4.11.3
typing-extensions==3.7.4.3
urllib3==1.26.2
web.py==0.62
Werkzeug==2.0.2
xlrd==1.2.0
yacs==0.1.8
yarg==0.1.9
zipp==3.6.0
